  <div class="banner-content">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%), url('http://kitt.lewagon.com/placeholder/cities/paris');">
      <div class="banner-content">
        <h1>Welcome Home</h1>
        <p>Book unique homes and experience a city like a local.</p>
        <form action="#" class="form-inline">
          <input type="text" class="form-control" placeholder="Where?">
          <input type="text" class="form-control" placeholder="When?">
          <select id="referrer" name="search" class="form-control">
            <option value="ruby">1 guest</option>
            <option value="css">2 guests</option>
            <option value="javascript">3 guests</option>
          </select>
          <a class="btn btn-primary btn-lg">Search</a>
        </form>
      </div>
    </div>
  </div>
